@charset "utf-8";

object{
    background-color:rgb(144, 128, 166);
    margin:30px;
    padding:30px;
}

section{
    background-color: bisque;
}

body,p,h1,h2{
    margin: 40px;
    padding: 40px;
}