@charset "utf-8";

object{
    background-color:rgb(223, 221, 226);
    margin:30px;
    padding:30px;
}

section{
    background-color: rgb(178, 196, 246);
}

body,p,h1,h2{
    margin: 40px;
    padding: 40px;
}