@charset "utf-8";

h1{
  padding:2%;
  color:red;
  background-color:yellow;
  background:linear-gradient(blue 10%,green 90%);
  text-shadow:5px 10px 2px blue;
  border-radius:20px;
}

h2{
  border:solid 2px #333333;
  padding:2%;
  word-wrap:break-word;
  border-radius:20px;
  box-shadow:10px 10px #888888;
}
p{
  background-color:darkgray;
  padding:3%;
  font-size:120%;
}
span{
  font-family:Arial;
}