@charset "utf-8";

body{
    margin:20px;
    border:solid 5px purple;
    padding:20px;
    border-radius:10px;
    
}

h1{
    background-color: antiquewhite;
}

h2{
    background-color: darkgray;
}

b{
    font-size: 20px;
}