@charset "utf-8";

body{
    margin:10px;
    padding:10px;
}

main{
    display: flex;
}

section #main{
    flex:3;
    margin:10px;
    padding:10px;
    background-color: aliceblue;
}

aside{
    flex:1;
}

article{
    flex:1;
}